@model GestaoTarefasIPG.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Funcionário</h1>

<h3>Tem a certeza que pretende apagar isto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncionarioID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </form>
</div>
