@*@model IEnumerable<GestaoTarefasIPG.Models.Servico>*@

@model ServicosViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Serviços</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Criar Novo</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Nome
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Servicos)
        {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServicoId" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServicoId" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServicoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
{
    @if (i == Model.CurrentPage)
    {
        <!--<a href="#">@i</a>-->
        <!--<a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>-->
        <a href="#" class="btn btn-dark">@i</a>
    }
    else
    {
        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}
