@*@model IEnumerable<GestaoTarefasIPG.Models.Servico>*@

@model ServicosViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="width: 100%; height: 80px">
    <h1 style="float: left">Serviços</h1>

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="float: right; border-radius: .35rem">
        @using (Html.BeginForm("Index", "Servicos", FormMethod.Get))
        {
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    @Html.DropDownList("searchOption", null, "Escolher:", new { @style = "border-radius: .35rem" })
                    &nbsp;
                    <!--<input type="text" class="form-control bg-light border-0 small" placeholder="Procure por..." aria-label="Search" aria-describedby="basic-addon2">-->
                    @Html.TextBox("searchString", null, null, new { @class = "form-control bg-light border-0 small", @style = "border-readius: .35rem", @placeholder = "Procure por ..." })
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        }
    </nav>
</div>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.ActionLink("Nome:", "Index", new
                {
                        sortOrder = "Nome",
                    page = Model.CurrentPage,
                    searchOption = Model.CurrentSearchOption,
                    searchString = Model.CurrentSearchString
                })
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Servicos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServicoId" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServicoId" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServicoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.FirstPage != Model.FirstPageShow)
{
    @Html.ActionLink("" + Model.FirstPageShow, "Index", new
    {
        sortOrder = Model.CurrentSortOrder,
        page = Model.FirstPageShow,
        searchOption = Model.CurrentSearchOption,
        searchString = Model.CurrentSearchString
    }, new { @class = "btn btn-outline-warning" })
}

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
{
    @if (i == Model.CurrentPage)
    {
        @Html.ActionLink("" + i, "#", new
        {
                sortOrder = Model.CurrentSortOrder,
            page = i,
            searchOption = Model.CurrentSearchOption,
            searchString = Model.CurrentSearchString
            }, new { @class = "btn btn-primary" })
        <text>&nbsp;</text>
    }
    else
    {
        {
            @Html.ActionLink("" + i, "Index", new
            {
                sortOrder = Model.CurrentSortOrder,
                page = i,
                searchOption = Model.CurrentSearchOption,
                searchString = Model.CurrentSearchString
            }, new { @class = "btn btn-outline-info" })
            <text>&nbsp;</text>
        }
    }
    @if (Model.LastPage != Model.LastPageShow)
    {
        @Html.ActionLink("" + Model.LastPage, "Index", new
        {
            sortOrder = Model.CurrentSortOrder,
            page = Model.LastPage,
            searchOption = Model.CurrentSearchOption,
            searchString = Model.CurrentSearchString
        }, new { @class = "btn btn-outline-warning" })
    }
}
