@*
    @model IEnumerable<GestaoTarefasIPG.Models.Escola>
*@

@model EscolasViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>

@*
    <!--
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EscolaID">Alterar</a> |
                        <a asp-action="Details" asp-route-id="@item.EscolaID">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.EscolaID">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    -->
*@

<table class="table table-dark table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Localização</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Escolas)
        {
            <tr>
                <td>@p.Nome</td>
                <td>@p.Localizacao</td>
                <td>@p.Descricao</td>
            </tr>
        }

    </tbody>
</table>

@*  Showing all pages (You should NOT do this) *@
<p>First = @Model.FirstPageShow</p>
<p>Last = @Model.LastPageShow</p>

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
{
    @if (i == Model.CurrentPage)
    {
        <!--<a href="#">@i</a>-->
        <!--<a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>-->
        <a href="#" class="btn btn-primary">@i</a>
    }
    else
    {
        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}