@*
    @model IEnumerable<GestaoTarefasIPG.Models.Escola>
*@

@model EscolasViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.ActionLink("Nome:", "Index", new { sortOrder = "Nome", page = Model.CurrentPage })
            </th>
            <th scope="col">
                @Html.ActionLink("Localização:", "Index", new { sortOrder = "Local", page = Model.CurrentPage })
            </th>
            <th scope="col">
                Descrição:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Escolas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EscolaID">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.EscolaID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.EscolaID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>First = @Model.FirstPageShow</p>
<p>Last = @Model.LastPageShow</p>

@if (Model.FirstPage != Model.FirstPageShow)
{
    <a asp-action="Index" asp-route-page="@Model.FirstPage" class="btn btn-outline-warning">@Model.FirstPage</a>
}

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
{
    @if (i == Model.CurrentPage)
    {
        <!--<a href="#">@i</a>-->
        <!--<a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>-->
        <a href="#" class="btn btn-primary">@i</a>
    }
    else
    {
        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}

@if (Model.LastPage != Model.LastPageShow)
{
    <a asp-action="Index" asp-route-page="@Model.LastPage" class="btn btn-outline-warning">@Model.LastPage</a>
}