@model CargosViewModel

@{
    ViewData["Title"] = "Cargos";
}

<h1>Cargos</h1>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.ActionLink("Nome:", "Index", new { sortOrder = "Nome", page = Model.CurrentPage })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cargos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCargo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CargoID">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.CargoID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CargoID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.FirstPage != Model.FirstPageShow)
{
    @Html.ActionLink("" + Model.FirstPage, "Index", new { sortOrder = Model.CurrentSortOrder, page = Model.FirstPage }, new { @class = "btn btn-outline-warning" })
}

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
{
    @if (i == Model.CurrentPage)
    {
        @Html.ActionLink("" + i, "#", new { sortOrder = Model.CurrentSortOrder, page = i }, new { @class = "btn btn-primary" })
        <text>&nbsp;</text>
    }
    else
    {
        @Html.ActionLink("" + i, "Index", new { sortOrder = Model.CurrentSortOrder, page = i }, new { @class = "btn btn-outline-info" })
        <text>&nbsp;</text>
    }
}
@if (Model.LastPage != Model.LastPageShow)
{
    @Html.ActionLink("" + Model.LastPage, "Index", new { sortOrder = Model.CurrentSortOrder, page = Model.LastPage }, new { @class = "btn btn-outline-warning" })
}

